## CUSTOMER SHOPPING BEHAVIOUR ANALYSIS

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\USER\Downloads\customer_shopping_behavior.csv")

In [4]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Customer ID,3900.0,1950.500000,1125.977353,1.0,975.75,1950.5,2925.25,3900.0
Age,3900.0,44.068462,15.207589,18.0,31.00,44.0,57.00,70.0
Purchase Amount (USD),3900.0,59.764359,23.685392,20.0,39.00,60.0,81.00,100.0
Review Rating,3863.0,3.750065,0.716983,2.5,3.10,3.8,4.40,5.0
Previous Purchases,3900.0,25.351538,14.447125,1.0,13.00,25.0,38.00,50.0

In [7]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
df["Review Rating"]= df.groupby("Category")["Review Rating"].transform(lambda x: x.fillna(x.median()))

In [9]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [14]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")
df = df.rename(columns={'purchase_amount_(usd)' : 'purchase_amount'})

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [17]:
# creating a volums of age group 
labels = ["Young Adult" , "Adult" , "Middle-aged", "Senior"]
df["age_group"]=pd.qcut(df["age"] , q=4 , labels=labels)

In [18]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [25]:
# crreating a column purchase_frequency_days

frequency_mapping = {
    "Fortnightly" : 14,
    "Weekly" : 7,
    "Monthly" : 30,
    "Quarterly" : 90,
    "Bi-Weekly" : 14,
    "Annually" : 365,
    "Every 3 Months" :90
}

df['purchase_frequency_days']= df['frequency_of_purchases'].map(frequency_mapping)

In [26]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [28]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [29]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [30]:
df = df.drop('promo_code_used', axis=1)

In [31]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [32]:
pip install mysql-connector-python sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading mysql_connector_python-9.5.0-cp312-cp312-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 730.2 kB/s eta 0:00:22
   - -------------------------------------- 0.5/16.5 MB 730.2 kB/s eta 0:00:22
   - -------------------------------------- 0.8/16.5 MB 781.4 kB/s eta 0:00:21
   -- ------------------------------------- 1.0/16.5 MB 799.2 kB/s eta 0:00:20
   -- ------------------------------------- 1.0/16.5 MB 799.2 kB/s eta 0:00:20
   --- ------------------------------------ 1.3/16.5 MB 849.7 kB/s eta 0:00:18
   --- ------------------------------------ 1.6/16.5 MB 856.1 kB/s eta 0:00:18
   --- ------------------------------------ 1.6/16.5 MB 856.1 kB/s eta 0:00:18
   ---- ----------------------------------- 1.8/16.5 MB 792.8 kB/s eta 0:00:19
   ---- ----------------------------------- 1.8/16.5 MB 792.8 kB/s eta 0:00:19
   ---- ----------------------------------- 1.8/16.5 MB 792.8 kB/s eta 0:00:19
   ----- ---------------------------------- 2.1/16.5 MB 734.0 kB/s eta 0:00:20
   ----- ---------------------------------- 2.4/16.5 MB 750.1 kB/s eta 0:00:19
   ----- ---------------------------------- 2.4/16.5 MB 750.1 kB/s eta 0:00:19
   ----- ---------------------------------- 2.4/16.5 MB 750.1 kB/s eta 0:00:19
   ------ --------------------------------- 2.6/16.5 MB 696.0 kB/s eta 0:00:20
   ------ --------------------------------- 2.6/16.5 MB 696.0 kB/s eta 0:00:20
   ------ --------------------------------- 2.9/16.5 MB 676.5 kB/s eta 0:00:21
   ------ --------------------------------- 2.9/16.5 MB 676.5 kB/s eta 0:00:21
   ------- -------------------------------- 3.1/16.5 MB 671.2 kB/s eta 0:00:20
   ------- -------------------------------- 3.1/16.5 MB 671.2 kB/s eta 0:00:20
   ------- -------------------------------- 3.1/16.5 MB 671.2 kB/s eta 0:00:20
   ------- -------------------------------- 3.1/16.5 MB 671.2 kB/s eta 0:00:20
   -------- ------------------------------- 3.4/16.5 MB 608.3 kB/s eta 0:00:22
   -------- ------------------------------- 3.7/16.5 MB 626.8 kB/s eta 0:00:21
   -------- ------------------------------- 3.7/16.5 MB 626.8 kB/s eta 0:00:21
   --------- ------------------------------ 3.9/16.5 MB 645.3 kB/s eta 0:00:20
   ---------- ----------------------------- 4.2/16.5 MB 669.3 kB/s eta 0:00:19
   ---------- ----------------------------- 4.5/16.5 MB 688.4 kB/s eta 0:00:18
   ----------- ---------------------------- 4.7/16.5 MB 707.8 kB/s eta 0:00:17
   ------------ --------------------------- 5.0/16.5 MB 722.5 kB/s eta 0:00:16
   ------------ --------------------------- 5.2/16.5 MB 731.2 kB/s eta 0:00:16
   ------------ --------------------------- 5.2/16.5 MB 731.2 kB/s eta 0:00:16
   ------------- -------------------------- 5.5/16.5 MB 735.8 kB/s eta 0:00:15
   ------------- -------------------------- 5.8/16.5 MB 748.1 kB/s eta 0:00:15
   -------------- ------------------------- 6.0/16.5 MB 757.9 kB/s eta 0:00:14
   -------------- ------------------------- 6.0/16.5 MB 757.9 kB/s eta 0:00:14
   --------------- ------------------------ 6.3/16.5 MB 753.7 kB/s eta 0:00:14
   --------------- ------------------------ 6.6/16.5 MB 755.5 kB/s eta 0:00:14
   --------------- ------------------------ 6.6/16.5 MB 755.5 kB/s eta 0:00:14
   ---------------- ----------------------- 6.8/16.5 MB 754.4 kB/s eta 0:00:13
   ----------------- ---------------------- 7.1/16.5 MB 756.0 kB/s eta 0:00:13
   ----------------- ---------------------- 7.1/16.5 MB 756.0 kB/s eta 0:00:13
   ----------------- ---------------------- 7.1/16.5 MB 756.0 kB/s eta 0:00:13
   ----------------- ---------------------- 7.3/16.5 MB 745.0 kB/s eta 0:00:13
   ------------------ --------------------- 7.6/16.5 MB 749.3 kB/s eta 0:00:12
   ------------------ --------------------- 7.6/16.5 MB 749.3 kB/s eta 0:00:12
   ------------------- -------------------- 7.9/16.5 MB 740.6 kB/s eta 0:00:12
   ------------------- -------------------- 7.9/16.5 MB 740.6 kB/s eta 0:00:12
   ------------------- -------------------- 7.9/16.5 MB 740.6 kB/s eta 0:00:12
   ------------------- -------------------- 7.9/16.5 MB 740.6 kB/s eta 0:00:12
   ------------------- -------------------- 7.9/16.5 MB 740.6 kB/s eta 0:00:12
   -------------------- ------------------- 8.4/16.5 MB 717.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.4/16.5 MB 717.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.5 MB 718.8 kB/s eta 0:00:11
   -------------------- ------------------- 8.7/16.5 MB 718.8 kB/s eta 0:00:11
   --------------------- ------------------ 8.9/16.5 MB 711.6 kB/s eta 0:00:11
   --------------------- ------------------ 8.9/16.5 MB 711.6 kB/s eta 0:00:11
   --------------------- ------------------ 8.9/16.5 MB 711.6 kB/s eta 0:00:11
   ---------------------- ----------------- 9.2/16.5 MB 695.7 kB/s eta 0:00:11
   ---------------------- ----------------- 9.2/16.5 MB 695.7 kB/s eta 0:00:11
   ---------------------- ----------------- 9.4/16.5 MB 694.9 kB/s eta 0:00:11
   ---------------------- ----------------- 9.4/16.5 MB 694.9 kB/s eta 0:00:11
   ----------------------- ---------------- 9.7/16.5 MB 698.3 kB/s eta 0:00:10
   ----------------------- ---------------- 9.7/16.5 MB 698.3 kB/s eta 0:00:10
   ------------------------ --------------- 10.0/16.5 MB 695.9 kB/s eta 0:00:10
   ------------------------ --------------- 10.0/16.5 MB 695.9 kB/s eta 0:00:10
   ------------------------ --------------- 10.2/16.5 MB 695.2 kB/s eta 0:00:10
   ------------------------ --------------- 10.2/16.5 MB 695.2 kB/s eta 0:00:10
   ------------------------- -------------- 10.5/16.5 MB 688.8 kB/s eta 0:00:09
   -------------------------- ------------- 10.7/16.5 MB 693.3 kB/s eta 0:00:09
   -------------------------- ------------- 10.7/16.5 MB 693.3 kB/s eta 0:00:09
   -------------------------- ------------- 11.0/16.5 MB 694.1 kB/s eta 0:00:08
   --------------------------- ------------ 11.3/16.5 MB 698.4 kB/s eta 0:00:08
   --------------------------- ------------ 11.5/16.5 MB 703.1 kB/s eta 0:00:08
   --------------------------- ------------ 11.5/16.5 MB 703.1 kB/s eta 0:00:08
   ---------------------------- ----------- 11.8/16.5 MB 709.8 kB/s eta 0:00:07
   ----------------------------- ---------- 12.1/16.5 MB 707.6 kB/s eta 0:00:07
   ----------------------------- ---------- 12.1/16.5 MB 707.6 kB/s eta 0:00:07
   ----------------------------- ---------- 12.3/16.5 MB 708.7 kB/s eta 0:00:06
   ----------------------------- ---------- 12.3/16.5 MB 708.7 kB/s eta 0:00:06
   ------------------------------ --------- 12.6/16.5 MB 711.0 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 717.1 kB/s eta 0:00:06
   ------------------------------- -------- 13.1/16.5 MB 725.0 kB/s eta 0:00:05
   -------------------------------- ------- 13.4/16.5 MB 731.4 kB/s eta 0:00:05
   --------------------------------- ------ 13.6/16.5 MB 737.0 kB/s eta 0:00:04
   --------------------------------- ------ 13.9/16.5 MB 741.8 kB/s eta 0:00:04
   --------------------------------- ------ 13.9/16.5 MB 741.8 kB/s eta 0:00:04
   ---------------------------------- ----- 14.2/16.5 MB 735.5 kB/s eta 0:00:04
   ---------------------------------- ----- 14.2/16.5 MB 735.5 kB/s eta 0:00:04
   ---------------------------------- ----- 14.4/16.5 MB 737.2 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.5 MB 737.6 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.5 MB 737.6 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.5 MB 739.8 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.5 MB 739.8 kB/s eta 0:00:03
   ------------------------------------ --- 15.2/16.5 MB 734.5 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.5 MB 740.6 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.5 MB 744.8 kB/s eta 0:00:02
   -------------------------------------- - 16.0/16.5 MB 748.4 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 753.6 kB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 756.4 kB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [35]:
# Step 2: Import libraries
import pandas as pd
from sqlalchemy import create_engine

# Step 3: Connection details
username = "root"           
password = "12345"  
host = "localhost"          
database = "customer_behavior"  

# Step 4: Create connection engine
engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}/{database}")

# Step 5: (Optional) Upload your pandas DataFrame to MySQL
# Replace 'df' with your actual DataFrame variable
table_name='customer'
df.to_sql('customer', con=engine, if_exists='replace', index=False)

# Step 6: Display the first few rows
print(f" Data successfully loaded into table'{table_name}' in database '{database}',")

 Data successfully loaded into table'customer' in database 'customer_behavior',